<!DOCTYPE html>
<html>
<head>
  <title>Node.js MVC App</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div>
    <h1><%= message %></h1>
    <a href="/students" class="button">View Students</a>
  </div>
</body>
</html>
