<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>Students, Courses, and Teachers</h1>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(student => { %>
        <tr>
          <td><%= student.student %></td>
          <td><%= student.course %></td>
          <td><%= student.teacher %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
