body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1, h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: rgba(255, 255, 255, 0.3);
}

a.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


a {
  color: #00f;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}